[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
salt = "*"
autopep8 = "*"
asyncio = "*"

[packages]
pyserial = "*"
idpmodem = {editable = true,version = "*"}
tox = "*"
tox-pipenv = "*"
pyserial-asyncio = "*"

[requires]
python_version = "3.8"
